<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/gosti.css">
        <script src="js/gostijs.js" async></script>
    </head>
    <body>
        <div class="accordion-menu-wrapper active" id="menu-parent" data-accordion-wrapper>
            <nav role="navigation" class="accordion-menu">
              <ul class="accordion-menu__list">
                <li class="accordion-menu__item">
                  <a href="#menu-1" class="accordion-menu__link" data-accordion-menu>
                    <span>
                      TOPLI NAPICI
                    </span>
                    <span class="accordion-menu__icon"></span>
                  </a>
                  <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-1">
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Espreso</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Kafa s mlijekom, mala</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Kafa s mlijekom, velika</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Cappuccino</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Bijela kafa</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">3.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Kafa sa &#353lagom</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Nescaffe</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Topla &#269okolada</span></div>
                                  <div><span class="shop-item-subtext">&#352oljica</span></div>
                                  <div><span class="shop-item-price">3.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="accordion-menu__item">
                  <a href="#menu-2" class="accordion-menu__link" data-accordion-menu>
                    <span>
                      SOKOVI
                    </span>
                    <span class="accordion-menu__icon"></span>
                  </a>
                  <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-2">
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Coca cola</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Fanta</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Sprite</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Schweppes tonic</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Schweppes bitter lemon</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Cockta</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Red Bull</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">5.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Ledeni caj</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Kiseljak</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Cedevita</span></div>
                                  <div><span class="shop-item-subtext">0,25 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>   
                <li class="accordion-menu__item">
                  <a href="#menu-3" class="accordion-menu__link" data-accordion-menu>
                    <span>
                      ALKOHOL
                    </span>
                    <span class="accordion-menu__icon"></span>
                  </a>
                  <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-3">
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Piva</span></div>
                                  <div><span class="shop-item-subtext">0,50 l</span></div>
                                  <div><span class="shop-item-price">3.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Jagermeister</span></div>
                                  <div><span class="shop-item-subtext">0,03 l</span></div>
                                  <div><span class="shop-item-price">4.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Pelinkovac</span></div>
                                  <div><span class="shop-item-subtext">0,03 l</span></div>
                                  <div><span class="shop-item-price">2.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Stock</span></div>
                                  <div><span class="shop-item-subtext">0,03 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Chivas</span></div>
                                  <div><span class="shop-item-subtext">0,03 l</span></div>
                                  <div><span class="shop-item-price">5.00 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Vodka</span></div>
                                  <div><span class="shop-item-subtext">0,03 l</span></div>
                                  <div><span class="shop-item-price">2.50 KM</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="accordion-menu__item">
                  <a href="#menu-4" class="accordion-menu__link" data-accordion-menu>
                    <span>
                      HRANA
                    </span>
                    <span class="accordion-menu__icon"></span>
                  </a>
                  <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-4">
                      <li>
                        <a href="#menu-4-1" class="accordion-menu__link2" data-accordion-menu>
                          <span>
                            SENDVI&#268I
                          </span>
                          <span class="accordion-menu__icon"></span>
                        </a>
                        <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-4-1">
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Sendvi&#269</span></div>
                                        <div><span class="shop-item-subtext">Pecivo, salama, namazi</span></div>
                                        <div><span class="shop-item-price">2.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">XXL Sendvi&#269</span></div>
                                        <div><span class="shop-item-subtext">Pecivo, salama, trapist, namazi</span></div>
                                        <div><span class="shop-item-price">3.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Hot dog</span></div>
                                        <div><span class="shop-item-subtext">Pecivo, hrenovka, namazi</span></div>
                                        <div><span class="shop-item-price">3.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Classic Burger</span></div>
                                        <div><span class="shop-item-subtext">Pecivo, meso, namazi, salata</span></div>
                                        <div><span class="shop-item-price">4.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Classic Chicken</span></div>
                                        <div><span class="shop-item-subtext">Zemi&#269ka, pile&#263e meso, salata, namazi</span></div>
                                        <div><span class="shop-item-price">4.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#menu-4-2" class="accordion-menu__link2" data-accordion-menu>
                          <span>
                            MESO
                          </span>
                          <span class="accordion-menu__icon"></span>
                        </a>
                        <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-4-2">
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Grill Piletina</span></div>
                                        <div><span class="shop-item-subtext">Hljeb, pile&#263i file, pomfrit, paradajz, kupus</span></div>
                                        <div><span class="shop-item-price">8.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Piletina U Bechamel Sosu</span></div>
                                        <div><span class="shop-item-subtext">Hljeb, pile&#263i file, pomfrit, paradajz, kupus</span></div>
                                        <div><span class="shop-item-price">8.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Chicken Nuggets</span></div>
                                        <div><span class="shop-item-subtext">Hljeb, pile&#263i file, pomfrit, paradajz, kupus</span></div>
                                        <div><span class="shop-item-price">8.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Teletina Bella</span></div>
                                        <div><span class="shop-item-subtext">Hljeb, pohovana teletina, pekarski krompir, paradajz, kupus</span></div>
                                        <div><span class="shop-item-price">15.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Teletina U Bechamel Sosu</span></div>
                                        <div><span class="shop-item-subtext">Hljeb, teletina, pekarski krompir, paradajz, kupus</span></div>
                                        <div><span class="shop-item-price">15.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Varijanta za 2</span></div>
                                        <div><span class="shop-item-subtext">2 lepine, 3 sud&#382ukice, 1 pljeskavica, 7 &#263evapa, pile&#263i file, pomfrit, kupus, paradajz, luk</span></div>
                                        <div><span class="shop-item-price">15.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#menu-4-3" class="accordion-menu__link2" data-accordion-menu>
                          <span>
                            PALA&#268INCI
                          </span>
                          <span class="accordion-menu__icon"></span>
                        </a>
                        <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-4-3">
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Bueno</span></div>
                                        <div><span class="shop-item-subtext">Namaz bueno, Preljev, Mrvice bueno</span></div>
                                        <div><span class="shop-item-price">6.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Raffaello</span></div>
                                        <div><span class="shop-item-subtext">Namaz Linolada kokos, Oreo mrvice, Kokos</span></div>
                                        <div><span class="shop-item-price">6.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Nutella &#269okolada</span></div>
                                        <div><span class="shop-item-subtext">Namaz Nutella, Nutella preljev, Plazma</span></div>
                                        <div><span class="shop-item-price">6.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#menu-4-4" class="accordion-menu__link2" data-accordion-menu>
                          <span>
                            DODACI
                          </span>
                          <span class="accordion-menu__icon"></span>
                        </a>
                        <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-4-4">
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Pomfrit</span></div>
                                        <div><span class="shop-item-subtext">Porcija</span></div>
                                        <div><span class="shop-item-price">2.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Lepina</span></div>
                                        <div><span class="shop-item-subtext"></span></div>
                                        <div><span class="shop-item-price">1.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Kajmak</span></div>
                                        <div><span class="shop-item-subtext"></span></div>
                                        <div><span class="shop-item-price">1.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="accordion-menu__sublink">
                              <div class="shop-items">
                                <div class="shop-item">
                                    <div class="shop-item-details">
                                      <div class="flex-container">
                                        <div><span class="shop-item-title">Kupus salata</span></div>
                                        <div><span class="shop-item-subtext"></span></div>
                                        <div><span class="shop-item-price">3.00 KM</span></div>
                                        <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
                <li class="accordion-menu__item">
                  <a href="#menu-5" class="accordion-menu__link" data-accordion-menu>
                    <span>
                      POSEBNE PONUDE
                    </span>
                    <span class="accordion-menu__icon"></span>
                  </a>
                  <ul class="accordion-menu__sublist accordion-menu--hidden" id="menu-5">
                    <li>
                      <div class="accordion-menu__sublink">
                        <div class="shop-items">
                          <div class="shop-item">
                              <div class="shop-item-details">
                                <div class="flex-container">
                                  <div><span class="shop-item-title">Album 1</span></div>
                                  <div><span class="shop-item-subtext">FAOFAFNOAFA FOAOFJAFNOAFAFOAOFJAFNOAFAFOAOFJAF NOAFAFOAOFJAFNOA FAFOAOFJAFOAF</span></div>
                                  <div><span class="shop-item-price">12.99</span></div>
                                  <div><button class="btn btn-primary shop-item-button" type="button">DODAJ</button></div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <hr style="height: 10px; background-color:crimson">
          <section class="container content-section">
            <form method="post" action="" class="forma">
              <input type="hidden" name="brojStola" id="stol">
            <h2 class="section-header">NARUDZBA</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ARTIKL</span>
                <span class="cart-price cart-header cart-column">CIJENA</span>
                <span class="cart-quantity cart-header cart-column">KOLICINA</span>
            </div>
            <div class="cart-items">
              
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">UKUPNO</strong>
                <span class="cart-total-price">0KM</span>
            </div>
            <input class="btn btn-primary btn-purchase" type="submit" value="KUPI"></button></form>
        </section>

    </body>
</html>